@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    font-family: "Oxygen";
    box-sizing: border-box;
    margin: 0;
}

h1 {
    grid-column: 1/13;
    text-align: center;
    background-color: #153B50;
    padding: 40px;
    font-size: 3rem;
    width: 100vw;
    color: white;
    
}
.containerTwo {
    text-align: center;
}


#paraOne {
    font-size: 3rem;
    color: black;
    text-align: center;
    background-color: white;
    padding-top: 50px;
    position: relative;
}
#paraTwo {
    font-size: 2rem;
    text-align: center;
    background-color: white;    
    
}

.containerTwo button {
    font-size: 1rem;
    width: 100px;
    height: 50px;
    transform: scale(3.5);
    margin-top: 120px;
}



/* styling the javascript elements:  */
#submitButton {
    transform: scale(3.5);
}
#headingThree {
    text-align: center;
    font-size: 2.5rem;
}
#headingTwo {
    text-align: center;
    font-size: 3rem;
}

#symptomList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

}
.symptom {
    padding: 30px;
    border: 1px solid grey;
    text-align: center;
    margin: 5px;
    max-width: 400px;
    flex-basis: 400px;
    flex-grow: 1;
    text-align: left;
}
.optionInput {
    margin-right: 20px;
    transform: scale(2);
}
#optionLabel {
   display: inline-block;
   width: calc(100% - 35px);
   vertical-align: middle;
}


#newContainer {
    background-color: white;
    height: 100vh;
    text-align: center;
    
   
}

#openingParagraph {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}
.illnessName {
    font-size: 2rem;
    margin-top: 45px;
}
.ilnessName:hover {
    content: url();
}
.illnessDescription {
    font-size: 2rem;
}
.illnessScore {
    font-size: 2rem;
}
.resourceParagraph {
    font-size: 2rem;
}
.resourceLink {
    font-size: 2rem;
}
